/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

html,
body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
section{
  padding: 5% 0;
}
.modal1.active{
  width: 35% !important;
  text-align: center !important;
  background: #fff !important;
  box-shadow: 6px 6px 15px #000 !important;
}
